@import '../../../CSS/variables';
@import '../../../CSS/colors';
.ceh-table-wrapper {
  display: inline-block;
  width: 100%;
  .sort {
    cursor: pointer;
    .sort-text {
      position: relative;
      > div {
        margin-right: 22px;
      }
      > span {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-flex;

        flex-direction: column;
        i{
         height:8px;
          &:only-child{
            margin-top:5px;
          }
        }

      }
    }
  }
  table {
    width:100%;
    max-width:100%;
    th,td{
      vertical-align: middle;
      border:none;
    }

    thead {
      border-top:1px solid black;
      border-bottom:1px solid black;
      tr {
        th {
          color: #6a6a6a;
          font-family:ProximaNovaSBold;
          //font-weight: 600;
          text-transform: uppercase;
          > div{
            margin:6px;
            padding:6px 0;
          }
          &.group {
            > div {
              background-color: white
            }
          }
          &.search {
            > div {
              border: 1px solid #E4E4E4;
              background: white;
              position: relative;
              line-height: 21px;
              > span {
                position: absolute;
                right: 4px;
                top: 50%;
                margin-top:-10.5px;
              }
              input {
                background: inherit;
                border: none;
                line-height: inherit;
                outline: none;
                margin-right: 10px;
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
    tbody {
      background: $white;
      > tr{
        border-bottom:1px solid #6a6a6a;
        &:hover{
          cursor:pointer;
          border-bottom:1px solid #1a8099; //brighter color?
        }
        > td{
          padding:8px 16px;
          .wait-cell{
            height:21px;
            width:100%;
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: placeHolderShimmer;
            -webkit-animation-timing-function: linear;
            background: #ebebeb;
            background-image: -webkit-gradient(linear, left center, right center, from(#ebebeb), color-stop(.2, #e4e4e4), color-stop(.4, #ebebeb), to(#ebebeb));
            background-image: -webkit-linear-gradient(left, #ebebeb 0%, #e4e4e4 20%, #ebebeb 40%, #ebebeb 100%);
            background-repeat: no-repeat;
            background-size: 800px 104px;
            position: relative;


          }
        }
      }
    }
    tfoot {
      tr {
        td {
          > div {
            float: right;
          }
          .pagerbtn {
            color: #6a6a6a;
            font-size: 24px;
            padding: 0 10px;
            background: none;
            display: inline;
            box-sizing: border-box;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            outline: none;
            &.disabled {
              opacity: .4;
              cursor: not-allowed;
              box-shadow: none;
            }
          }
          .text {
            display: inline-block;
            line-height: 36px;
            font-size: 18px;
          }
          .vdl-dropdown-list {
            display: inline-block;
            bottom: -9px;
          }
        }
      }
    }
  }
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

